@using ReportingNew.Models

    <div class="container center">

        @model SPMenuModel

       
            <form action="/Home/urlJT/@Model.UserID/@Model.SessionGuid/@Model.ReportId/@HttpUtility.UrlEncode(Model.DbxUrl)" method="post">

                    

                <h2>@Model.ReportName</h2>
                <br />

                <div class="form-group">
                    <!-- Example single danger button -->
                    <label>Site</label>

                    <select class="form-control" name="siteN">
                        @foreach (var site in Model.sitesRep)
                        {
                            <option>@site.SiteName</option>
                        }

                    </select>

                </div>

                <!--  -->
                <div class="form-group">

                    @foreach (var t in Model.reportControls)
                    {
                        if (t.Visible == false)
                        {
                            <label hidden for="exampleFormControlTextarea1">@t.LabelText</label>
                            <input type="@t.ControlType" id="id_pic_1" class="form-control" value="@t.DefaultDate" required name="dateFrom">
                            <br />
                            <style>
                                #id_pic_1 {
                                    display:none;
                                }
                            </style>

                        }
                        if (t.Visible == true)
                        {
                            <label for="exampleFormControlTextarea1">@t.LabelText</label>
                            <input type="@t.ControlType" class="form-control" value="@t.DefaultDate" required name="dateFrom">
                            <br />
                        }

                    }

                </div>
                <div class="row">
                    <button type="submit" class="btn btn-success">Take me to the report</button>
                    <button type="button" class="btn btn-danger">Clear</button>
                </div>
            </form>
        <hr />

        <footer class="center">
            <p>&copy; @DateTime.Now.Year - Quadranet</p>
        </footer>
    </div>
